{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
    <h1>Welcome to Studio Ghibli's Movie Maker</h1>
    <p>Please select one of the links from the nav bar.</p>
        </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card mt-5 text-center">
                </div>
                <form action="/add" method="post">
                    <div class="form-group">
                        <label for="name">Full Name:</label>
                        <input name="name" type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input name="email-address" type="email" class="form-control" id="email" required>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="course" value="Course 1"> Course 1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="course" value="Course 2"> Course 2</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="course" value="Course 3"> Course 3</label>
                    </div>
                    <div class="form-group">
                      <label for="comment">Comment:</label>
                      <textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
